*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.wrapper{
    height: 100%;
    width: 100%;
    background-color:#444140;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    height:70%;
    width: 25%;
    background-color:#c9d5b5;
    border-radius: 5px;
    border-right:1.5px solid white;
    border-top:1.5px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.upper-box{
    height: 15%;
    width: 90%;
    background-color: blue; 
    border-top: 1px solid #656d4a; 
    border-right: 2px solid black; 
    border-bottom: 2px solid black; 
    border-left: 1px solid #656d4a;
    border-radius: 5px;
    margin-top:2.3vw;
    margin-left: 1.5vw;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.lower-box{
    height: 90%;
    width: 100%;
    /* background-color: sienna; */
    
}

.lower-box .first{
    height: 20%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.lower-box .first button{
    height: 7vh;
    width: 4vw;
    color: rgb(178, 174, 174);
    color: black;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;

}

.lower-box .first div button{
    background-color: black;
    color: white;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.lower-box .second{
    height: 20%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    
}

.lower-box .second button{
    height: 7vh;
    width: 4vw;
    color: rgb(178, 174, 174);
    color: black;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;

}

.lower-box .second div button{
    background-color: black;
    color: white;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.lower-box .third{
    height: 20%;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.lower-box .third button{
    height: 7vh;
    width: 4vw;
    color: rgb(178, 174, 174);
    color: black;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;

}

.lower-box .third div button{
    background-color: black;
    color: white;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.lower-box .fourth{
    height:20% ;
    width: 100%;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.lower-box .fourth button{
    height: 7vh;
    width: 4vw;
    color: rgb(178, 174, 174);
    color: black;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    /* border: none; */

}

.lower-box .fourth div button{
    color: white;
    
}

.fourth div button{
    color: white;
    background-color: rgb(210, 22, 22);
    border-top: 1px double white;
    border-right: 1px double white;
    
}


.fourth .equal button{
    background-color: black;
    color: white;
    border-top: 1px double white;
    border-right: 1px double white;
    
}

.fourth .division button{
    background-color: black;
    color: white;
    border-top: 1px double white;
    border-right: 1px double white;
    
}